 <%= form_with(model: company) do |form| %>
  <% if company.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div>
    <%= form.text_field :name, class: "form-control", placeholder: "Company Name" %>
  </div>
  <br>
  <div>
    <%= form.text_field :description, class: "form-control", placeholder: "Description" %>
  </div>
  <br>
  <div>
    <%= form.text_field :industry, class: "form-control", placeholder: "Type of Company / Industry" %>
  </div>
  <br>
  <div>
    <% form.label :country, style: "display: block", class: "field form-group" %>
    <%= form.text_field :country, class: "form-control", placeholder: "Country of Origin" %>
  </div>
  <br>
  <div>
    <%= form.submit class: "btn btn-dark" %>
  </div>
<% end %>
